.shipment-details__top--padding {
	padding: 20px 45px 20px 20px;
}

.shipment-details__top .details-content {
	display: flex;
	width: 40%;
	font-size: 19px;
}

.shipment-details__top .details-content--20 {
	width: 20%;
}

.shipment-details__top .details-content--30 {
	width: 34%;
}

.details-content .additional-info {
	display: flex;
	flex-direction: column;
	width: calc(100% / 2);
}

.details-content .additional-info--left {
	align-items: flex-start;
}

.details-content .additional-info--right {
	align-items: flex-end;
}

.additional-info .date-and-time {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.additional-info__text {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 18px;
}

.additional-info__text--blue {
	color: #17a2b8;
}

.additional-info__text--size {
	font-size: 15px;
}

.additional-info__text--bond {
	margin-right: 10px;
	font-size: small;
	font-weight: bold;
	color: #aaadc0;
}

.additional-info__text--bond-value {
	font-size: small;
	font-weight: bold;
	color: #6c6c6c;
}

.additional-info--right .price-deposit {
	display: flex;
}

.animation {
	opacity: 0;
	animation: 1s fadeIn forwards;
}

.facilities-content {
	display: flex;
	width: 34%;
	justify-content: space-between;
}

.facilities-content .facility-info {
	display: flex;
}

.facility-info__title {
	font-weight: bold;
	margin-bottom: 10px;
}

.facility-info__text {
	font-size: 15px;
	color: #aaadc0;
}

.facility-info .location-content {
	display: flex;
	align-items: center;
	padding: 10px;
}

.facility-info__icon {
	font-size: 50px;
	color: #40b6ad;
}

.facility-info__multiple-stops {
	font-size: 25px;
	color: #40b6ad;
	padding-top: 12px;
	padding-left: 15px;
}

.shipment-details__location-wrap .route-documents-details {
	width: 90%;
	margin-bottom: 10px;
	background-color: #fafafa;
	border: 1px solid #fafafa;
	border-radius: 3px;
}

.route-documents-details .facility-card {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px 15px 0 15px;
}

.facility-separator {
	display: flex;
	justify-content: center;
}

.facility-separator--line {
	width: 100%;
}

.facility-content--bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin-bottom: 10px;
}

.facility-content__label {
	color: #17a2b8;
	border: 1px solid #17a2b8;
	border-radius: 5px;
	width: 72px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
	font-size: 12px;
	font-weight: bold;
}

.review__facility--green {
	color: #1ca89e;
}

.drive-details > span {
	font-size: 14px;
	margin-bottom: 5px;
}

.page-content--full {
	padding: 53px 0 70px;
}

.shippment-details__body--padding {
	padding: 20px 44px 30px 44px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.opacity50 {
	opacity: 0.5;
}

.opacity100 {
	opacity: 1;
}

.btn--width {
	width: 180px;
}

.btn--dot {
	height: 7px;
	width: 7px;
	background-color: white;
	border-radius: 50%;
	margin-right: 15px;
}

.btn--arrow-down {
	border: solid white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 2px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin-left: 10px;
}

.green-dot {
	height: 7px;
	width: 7px;
	background-color: #1ca89e;
	border-radius: 50%;
	margin: 7px 25px 0 0;
}

.red-dot {
	height: 7px;
	width: 7px;
	background-color: #fd7272;
	border-radius: 50%;
	margin: 0 0 4px 4px;
	display: inline-block;
}

.shipment-details__body .shipment-details-left {
	width: 35%;
	margin-right: 20px;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
	background-color: #ffffff;
	max-height: 504px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	padding-bottom: 20px;
}

.shipment-details-left__heading {
	cursor: pointer;
	margin: 0 25px 0 0;
	color: #1ca89e;
}

.shipment-details-left .shipment-details-left__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.shipment-details-left .shipment-details-left__content--padding {
	padding: 0 30px;
}

.shipment-details__list > .shipment-details__item {
	margin-bottom: 20px;
	margin-top: 0;
}

.review__container {
	display: flex;
	margin-bottom: 20px;
}

.review__icon {
	margin: 4px 10px 0 0;
}

.shipment-details__map-content {
	display: flex;
	background-color: white;
	flex: 1 1 auto;
	max-height: 504px;
}

.btn--transparent-white {
	color: white;
	border: 1px solid white;
}

.sales-change__container {
	display: flex;
	justify-content: space-around;
	max-width: none;
}

.sales-change__content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 15px;
}

.shipment-details__body .shipment-details-left::-webkit-scrollbar {
	width: 5px;
}

.shipment-details__body .shipment-details-left::-webkit-scrollbar-track {
	border-radius: 5px;
}

.shipment-details__body .shipment-details-left::-webkit-scrollbar-thumb {
	background-color: #17a2b8;
	border-radius: 5px;
}

.timeline-wrapper {
	padding: 50px;
	text-align: center;
	font-family: 'OpenSans', sans-serif;
	width: 700px;
	margin: 10px auto;
}

.timeline-container {
	display: flex;
	list-style: none;
	padding: 0;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.horizontal-timeline-item {
	position: relative;
	margin-top: 10px;
	width: 100%;
}

.horizontal-timeline-item .horizontal-timeline-item__text {
	font-weight: bold;
	text-decoration: none;
	color: #1fa89e;
	text-transform: uppercase;
	font-size: 11px;
}

.horizontal-timeline-item:first-child {
	margin-left: -55px;
}

.horizontal-timeline-item:last-child {
	margin-right: -55px;
}

.horizontal-timeline-item::after {
	content: '';
	width: 5px;
	height: 5px;
	background: #1fa89e;
	position: absolute;
	border-radius: 10px;
	top: -14px;
	left: 50%;
	transform: translatex(-50%);
	border: 2px solid #1fa89e;
}

.horizontal-timeline-item-active::after {
	content: '';
	width: 20px;
	height: 20px;
	background: #fff;
	position: absolute;
	border-radius: 10px;
	top: -20px;
	left: 50%;
	transform: translatex(-70%);
	border: 7px solid #1fa89e;
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

.horizontal-timeline-item:not(:last-child)::before {
	content: '';
	display: block;
	width: 76%;
	height: 2px;
	background-color: #1fa89e;
	position: absolute;
	top: -27%;
	left: 62%;
	opacity: 0.4;
}

.horizontal-timeline-item--cancel {
	position: relative;
	margin-top: 10px;
	width: 100%;
}

.horizontal-timeline-item--cancel .horizontal-timeline-item__text {
	font-weight: bold;
	text-decoration: none;
	color: #1fa89e;
	text-transform: uppercase;
	font-size: 11px;
}

.horizontal-timeline-item--cancel:first-child {
	margin-left: -55px;
}

.horizontal-timeline-item-cancel:last-child {
	margin-right: -55px;
}

.horizontal-timeline-item--cancel::after {
	content: '';
	width: 5px;
	height: 5px;
	background: #1fa89e;
	position: absolute;
	border-radius: 10px;
	top: -14px;
	left: 50%;
	transform: translatex(-50%);
	border: 2px solid #1fa89e;
}

.horizontal-timeline-item--cancel:not(:last-child)::before {
	content: '';
	display: block;
	width: 76%;
	height: 2px;
	background-color: #1fa89e;
	position: absolute;
	top: -27%;
	left: 62%;
	opacity: 40%;
}

.horizontal-timeline-item--cancel:last-child::before {
	content: '';
	width: 20px;
	height: 20px;
	background: #fff;
	position: absolute;
	border-radius: 10px;
	top: -20px;
	left: 50%;
	transform: translatex(-70%);
	border: 7px solid #fd7272;
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
	z-index: 1;
}

.horizontal-timeline-animation {
	animation: 1s timeline-top-down ease-in alternate;
}

.modal--carrier-review {
	padding-top: 40px;
}

.shipment-details-review {
	display: flex;
	flex-direction: column;
	background-color: #fafafa;
	border: 1px solid #fafafa;
	border-radius: 3px;
	padding: 20px;
	margin-bottom: 10px;
}

.shipment-details-review__title {
	font-family: 'OpenSans', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

.shipment-details-review__subtitle {
	font-family: 'OpenSans', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.shipment-details-review__text {
	font-weight: bold;
	margin-bottom: 25px;
	font-size: 14px;
}

.shipment-details-review__text--gray {
	color: lightgray;
}

.shipment-details-review__comment {
	display: flex;
}

.shipment-details-review__comment .text {
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}

.shipper-carrier-info {
	display: flex;
	height: 110px;
}

.shipper-carrier-info--41 {
	width: 41%;
}

.shipper-carrier-info--32 {
	width: 30%;
}

.shipper-carrier-info .shipper-carrier-info__card {
	display: flex;
	margin-right: 20px;
}

.shipper-carrier-info__card .left-side {
	display: flex;
	align-items: center;
	padding: 10px;
}

.shipper-carrier-info__card .right-side {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.shipper-carrier-info__card .role-icon {
	font-size: 50px;
	color: #40b6ad;
}

.right-side .title-text {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 10px;
}

.right-side .contact-text {
	color: #aaadc0;
}

@keyframes timeline-top-down {
	0% {
		transform: translateY(-10px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
